{% extends "base.html" %}

{% block title %}Sign up {% endblock %}

{% block footer %}
<script src="/js/app.js"></script>


<script>
    $(document).ready(function () {
        $("#signUpFrom").validate({
            errorClass: 'errors',
            rules: {
                name: "required",
                email: {
                    required: true,
                    email: true,
                    remote: '/account/validate-email'
                },
                password: {
                    required: true,
                    minlength: 8,
                    validPassword: true
                },
                passwordConfirmation: {
                    equalTo: '#passwordInput'
                }
            },
            messages: {
                name: 'Podaj imię',
                email: {
                    required: 'Podaj adres email.',
                    email: 'Podaj poprawny adres email.',
                    remote: 'Istnieje już konto z podanym adresem email.'
                },
                password: {
                    required: 'Podaj hasło.',
                    minlength: 'Hasło musi zawierać conajmniej 8 znaków.'
                },
                passwordConfirmation: 'Podane hasła nie są identyczne.'
            },
            highlight: function (element) {
                $(element).next().addClass('text-warning')
            },
            unhighlight: function (element) {
                $(element).next().removeClass('errors').removeClass('text-warning')
            }
        });
    });
</script>
{% endblock %}

{% block body %}

<main>
    <div>
        <h1 class="display-2 mt-5 d-flex justify-content-center">Budżet domowy</h1>
    </div>
    <div class="container mt-5 text-light  mx-md-auto mx-sm-5%">
        <div class="mx-auto col-lg-4 col-md-6" style="color: #17694b">
            {% if user.errors is not empty %}
            <p>Błędy:</p>
            <ul>
                {% for error in user.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <form class="p-4 mx-auto rounded-3 formBackground col-lg-4 col-md-6" id="signUpFrom" method="post"
            action="/Signup/create">
            <input type='hidden' id='token' name='token' />
            <div class="mb-4">
                <h2 class="text-center display-5">Zarejestruj się</h2>
            </div>
            <div class="mb-3">
                <label for="nameInput" class="form-label">Imię</label>
                <input type="text" class="form-control " name="name" id="nameInput" placeholder=""
                    value="{{ user.name }}" required autofocus>
            </div>
            <div class="mb-3">
                <label for="emailInput">Adres e-mail</label>
                <input type="email" class="form-control" name="email" id="emailInput" placeholder=" "
                    value="{{ user.email }}" required>

            </div>
            <div class="mb-3">
                <label for="passwordInput">Hasło</label>
                <input type="password" class="form-control" name="password" id="passwordInput" placeholder=" " required>

            </div>
            <div class="mb-3">
                <label for="passwordConfirmationInput">Powtórz hasło</label>
                <input type="password" class="form-control" name="passwordConfirmation" id="passwordConfirmationInput"
                    placeholder=" " required>
            </div>
            <div class="d-grid gap-2 w-50 mx-auto">
                <button class="btn btn-outline-light" type="submit" id="signInButton" name="buttonSubmit">Utwórz
                    konto</button>

                <a class="btn btn-outline-light" href="index.php">Powrót do logowania</a>
            </div>
        </form>
    </div>
</main>

{% endblock %}