{% extends "base.html" %}

{% block title %}Bilans{% endblock %}

{% block footer %}
<script src="https://code.jquery.com/jquery-3.6.3.slim.min.js"
    integrity="sha256-ZwqZIVdD3iXNyGHbSYdsmWP//UBokj2FHAxKuSBKDSo=" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script>
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();
    if (dd < 10) {
        dd = '0' + dd
    }
    if (mm < 10) {
        mm = '0' + mm
    }
    today = yyyy + '-' + mm + '-' + dd;
    document.getElementById("beginingDate").setAttribute("max", today);
    document.getElementById("endingDate").setAttribute("max", today);
</script>
<script>
    const customDate = document.querySelector("#customDateInput");
    const periodSelected = document.querySelector("#period");

    periodSelected.addEventListener('change', function () {
        if (periodSelected.selectedIndex === 3) {
            customDate.style.display = "block";
        } else {
            customDate.style.display = "none";
        }
    })
</script>
<script>
    const incomeDataPoints = JSON.parse('{{incomeDataPoints|json_encode()|raw}}');
    const expenseDataPoints = JSON.parse('{{expenseDataPoints|json_encode()|raw}}');
    window.onload = function () {
        var incomesChart = new CanvasJS.Chart("incomesPieChart", {
            animationEnabled: true,
            data: [{
                type: "pie",
                indexLabel: "{y}",
                yValueFormatString: "#,##0.00\"%\"",
                indexLabelPlacement: "inside",
                indexLabelFontColor: "#36454F",
                indexLabelFontSize: 18,
                indexLabelFontWeight: "bolder",
                dataPoints: incomeDataPoints
            }]
        });
        var expensesChart = new CanvasJS.Chart("expensesPieChart", {
            animationEnabled: true,
            data: [{
                type: "pie",
                indexLabel: "{y}",
                yValueFormatString: "#,##0.00\"%\"",
                indexLabelPlacement: "inside",
                indexLabelFontColor: "#36454F",
                indexLabelFontSize: 18,
                indexLabelFontWeight: "bolder",
                dataPoints: expenseDataPoints
            }]
        });
        if (incomeDataPoints.length != 0) { incomesChart.render(); }
        if (expenseDataPoints.length != 0) { expensesChart.render(); }

    }
</script>
{% endblock %}

{% block modal %}
<div class="modal fade" style="z-index: 1500;" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Wybierz okres</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="periodForm" action="/Balance/index" method="POST">
                <div class="modal-body">
                    <select class="form-select" name="period" id="period">
                        <option value="currentMonth" {% if choosenPerion=="currentMonth" %} selected {% endif %}>
                            Bieżący
                            miesiąc</option>
                        <option value="previousMonth" {% if choosenPerion=="previousMonth" %} selected {% endif %}>
                            Poprzedni miesiąc</option>
                        <option value="currentYear" {% if choosenPerion=="currentYear" %} selected {% endif %}>
                            Bieżący
                            rok</option>
                        <option value="other" id="customPeriod" {% if choosenPerion=="other" %} selected {% endif %}>
                            Niestandardowy</option>
                    </select>
                    <div id="customDateInput" class="">
                        <div class="d-flex my-3 ms-3 d-grid gap-2">
                            <label for="beginingDate">Od:</label>
                            <input type="date" class="form-control ps-3" style="width: 150px;" min="1900-01-01"
                                name="beginingDate" id="beginingDate">
                        </div>
                        <div class="d-flex ms-3 d-grid gap-2">
                            <label for="endingDate">Do:</label>
                            <input type="date" class="form-control" style="width: 150px;" min="1900-01-01"
                                name="endingDate" id="endingDate">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-outline-light myButton" value="Wybierz okres">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block body %}

<main class="mx-5">


    <div class="mt-5 mx-lg-auto mx-sm-5% d-md-flex justify-content-between">
        <div> <button type="button" class="btn btn-outline-light myButton m-2" data-bs-toggle="modal"
                data-bs-target="#exampleModal">Wybierz
                okres</button></div>
        <div>
            <h1 class="display-3">Przeglądaj bilans</h1>
        </div>
        <div class="col-1"></div>

    </div>
    </div>

    <div class="tableBackground rounded col-1 mb-3">

    </div>
    <div class="d-lg-flex justify-content-lg-evenly">

        <div class="mb-5 tableBackground h-100 col-3 " style="width:33%">
            {% if sumOfIncomes != 0 %}
            <h3 class="text-center mt-3">Przychody</h3>
            <div class="container-fluid d-xl-flex my-auto">
                <table class="table table-striped table-hover me-3 " style="background-color:#EDDFD5">
                    <thead class="">
                        <tr>
                            <th>Kategoria</th>
                            <th>Przychód</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for category, income in incomes %}
                        <tr>
                            <td>{{ category }}</td>
                            <td>{{ income }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>Suma przychodów</td>
                            <td>{{ sumOfIncomes }} zł</td>
                        </tr>
                    </tfoot>
                </table>
                <div id="incomesPieChart" class="w-100 mb-3"></div>
            </div>
            {% else %}
            <h3 class="text-center my-3">Brak przychodów</h3>
            {% endif %}
        </div>
        <div class="mt-lg-0 mt-sm-5 rounded tableBackground h-100" style="width:33%">
            {% if sumOfExpenses != 0 %}
            <h3 class="text-center mt-3">Wydatki</h3>
            <div class="container-fluid d-xl-flex my-auto">
                <table class="table table-striped table-hover me-3" style="background-color:#EDDFD5">
                    <thead class="">
                        <tr>
                            <th>Kategoria</th>
                            <th>Wydatki</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for category, expense in expenses %}
                        <tr>
                            <td>{{ category }}</td>
                            <td>{{ expense }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>Suma wydatków</td>
                            <td>{{ sumOfExpenses }} zł</td>
                        </tr>
                    </tfoot>
                </table>
                <div id="expensesPieChart" class="w-100 mb-3"></div>
            </div>
            {% else %}
            <h3 class="text-center my-3">Brak wydatków</h3>
            {% endif %}
        </div>
    </div>
</main>

{% endblock %}