{% extends "base.html" %}

{% block title %}Bilans{% endblock %}

{% block footer %}
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="/js/balance.js"></script>
<script>

</script>
<script>
    todayDate();
    displayCustomDateInput();
    validateUpdateIncome();
    updateIncome();
</script>
<script>
    const incomeDataPoints = JSON.parse('{{incomeDataPoints|json_encode()|raw}}');
    const expenseDataPoints = JSON.parse('{{expenseDataPoints|json_encode()|raw}}');
    window.onload = function () {
        var incomesChart = new CanvasJS.Chart("incomesPieChart", {
            animationEnabled: true,
            data: [{
                type: "pie",
                indexLabel: "{y}",
                yValueFormatString: "#,##0.00\"%\"",
                indexLabelPlacement: "inside",
                indexLabelFontColor: "#36454F",
                indexLabelFontSize: 18,
                indexLabelFontWeight: "bolder",
                dataPoints: incomeDataPoints
            }]
        });
        var expensesChart = new CanvasJS.Chart("expensesPieChart", {
            animationEnabled: true,
            data: [{
                type: "pie",
                indexLabel: "{y}",
                yValueFormatString: "#,##0.00\"%\"",
                indexLabelPlacement: "inside",
                indexLabelFontColor: "#36454F",
                indexLabelFontSize: 18,
                indexLabelFontWeight: "bolder",
                dataPoints: expenseDataPoints
            }]
        });
        if (incomeDataPoints.length != 0) { incomesChart.render(); }
        if (expenseDataPoints.length != 0) { expensesChart.render(); }

    }
</script>

{% endblock %}

{% block modal %}
<div class="modal fade" style="z-index: 1500;" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Wybierz okres</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="periodForm" action="/Balance/index" method="POST">
                <div class="modal-body">
                    <select class="form-select" name="period" id="period">
                        <option value="currentMonth" {% if choosenPerion=="currentMonth" %} selected {% endif %}>
                            Bieżący
                            miesiąc</option>
                        <option value="previousMonth" {% if choosenPerion=="previousMonth" %} selected {% endif %}>
                            Poprzedni miesiąc</option>
                        <option value="currentYear" {% if choosenPerion=="currentYear" %} selected {% endif %}>
                            Bieżący
                            rok</option>
                        <option value="other" id="customPeriod" {% if choosenPerion=="other" %} selected {% endif %}>
                            Niestandardowy</option>
                    </select>
                    <div id="customDateInput" class="">
                        <div class="d-flex my-3 ms-3 d-grid gap-2">
                            <label for="beginingDate">Od:</label>
                            <input type="date" class="form-control ps-3" style="width: 150px;" min="1900-01-01"
                                name="beginingDate" id="beginingDate">
                        </div>
                        <div class="d-flex ms-3 d-grid gap-2">
                            <label for="endingDate">Do:</label>
                            <input type="date" class="form-control" style="width: 150px;" min="1900-01-01"
                                name="endingDate" id="endingDate">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-outline-light myButton" value="Wybierz okres">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" style="z-index: 1500;" id="incomeModal" tabindex="-1" aria-labelledby="incomeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 400px">
            <div class="modal-header">
                <h5 class="modal-title">Edytuj przychód</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="incomeUpdateForm" action="" method="POST">
                <div class="modal-body">
                    <div class="mx-auto col-lg-4 col-md-6" style="color: #17694b">
                        {% if income.errors is not empty %}
                        <p>Błędy:</p>
                        <ul>
                            {% for error in income.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="mb-3 mx-5">
                        <label for="amount">Kwota (podaj z kropką):</label>
                        <input type="number" class="form-control" placeholder="Wpisz kwotę..." id="incomeAmount"
                            name="amount" min="0.01" step="0.01">
                    </div>
                    <div class="mb-3 mx-5">
                        <label for="date">Data:</label>
                        <input class='form-control' id="incomeUpdateDatefield" name="date" type='date'
                            min="2000-01-01"></input>
                    </div>
                    <div class="mb-3 col-9 mx-5">
                        <label for="category">Kategoria:</label>
                        <select class="form-select" name="category" id="category">
                            <option value="">Wybierz kategorię</option>
                            {% for category in categories %}
                            <option value="{{ category.id }}" name="{{ category.name }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3 col-9 mx-5">
                        <label class="form-label" for="comment">Komentarz (opcjonalnie):</label>
                        <div><textarea class="form-control" name="comment" id="comment" rows="2"
                                placeholder="Max. 250 znaków..." style="resize: none" maxlength="250"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-outline-light myButton" value="Zapisz">
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block body %}

<main class="mx-5">


    <div class="mt-5 mx-lg-auto mx-sm-5% d-md-flex justify-content-between">
        <div style="background-color:#EDDFD5">
            <div class="mt-2 mx-2">
                {% if choosenPerion == 'currentMonth' %}
                <p class="text-center">Bieżący miesiąc</p>
                {% elseif choosenPerion == 'previousMonth' %}
                <p>Poprzedni miesiąc</p>
                {% elseif choosenPerion == 'currentYear' %}
                <p>Bieżący rok</p>
                {% elseif choosenPerion == 'other' %}
                <p>Okres niestandardowy</p>
                {% endif %}
            </div>
            <button type="button" class="btn btn-outline-light myButton m-2" data-bs-toggle="modal"
                data-bs-target="#exampleModal">Wybierz
                okres</button>
        </div>
        <div>
            <h1 class="display-3">Przeglądaj bilans</h1>
        </div>
        <div class="col-1"></div>

    </div>
    </div>

    <div class="tableBackground rounded col-1 mb-3">

    </div>
    <div class="d-lg-flex justify-content-lg-evenly">

        <div class="mb-5 tableBackground h-100 col-3 " style="width:700px">
            {% if sumOfIncomes != 0 %}
            <h3 class="text-center mt-3">Przychody</h3>
            <div class="container-fluid d-xl-flex my-auto">
                <table class="table table-striped table-hover me-3 " style="background-color:#EDDFD5">
                    <thead class="">
                        <tr>
                            <th>Kategoria</th>
                            <th>Przychód</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for category, income in incomes %}
                        <tr>
                            <td>{{ category }}</td>
                            <td>{{ income }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>Suma przychodów</td>
                            <td>{{ sumOfIncomes }} zł</td>
                        </tr>
                    </tfoot>
                </table>
                <div id="incomesPieChart" class="w-100 mb-3"></div>
            </div>
            <h4 class="text-center mt-3">Lista przychodów</h4>
            <div class="container-fluid d-xl-flex my-auto">
                <table class="table table-striped table-hover me-3 " style="background-color:#EDDFD5">
                    <thead class="">
                        <tr>
                            <th>Data</th>
                            <th>Kategoria</th>
                            <th>Przychody</th>
                            <th>Komentarz</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="incomeList">
                        {% for income in incomeList %}
                        <tr id="{{ income[" id"] }}">
                            <td> {{ income.dateOfIncome }}</td>
                            <td>{{ income.name }}</td>
                            <td>{{ income.amount }}</td>
                            <td> {{ income.incomeComment }} </td>
                            <td class="d-flex justify-content-end">
                                <button class="mx-1 btn btn-outline-dark" name="updateIncomeBtn"
                                    data-bs-target="#incomeModal" data-bs-toggle="modal" data-id="{{income.id}}"
                                    data-amount="{{income.amount}}" data-name="{{income.name}}"
                                    data-comment="{{income.incomeComment}}" data-date="{{income.dateOfIncome}}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-pen" viewBox="0 0 16 16">
                                        <path
                                            d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
                                    </svg></button>
                                <a href="/balance/{{ income.id }}/delete-income" class="btn btn-outline-dark">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-trash3" viewBox="0 0 16 16">
                                        <path
                                            d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                    </svg>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <h3 class="text-center my-3">Brak przychodów</h3>
            {% endif %}
        </div>
        <div class="mt-lg-0 mt-sm-5 rounded tableBackground h-100" style="width:700px">
            {% if sumOfExpenses != 0 %}
            <h3 class="text-center mt-3">Wydatki</h3>
            <div class="container-fluid d-xl-flex my-auto">
                <table class="table table-striped table-hover me-3" style="background-color:#EDDFD5">
                    <thead class="">
                        <tr>
                            <th>Kategoria</th>
                            <th>Wydatki</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for category, expense in expenses %}
                        <tr>
                            <td>{{ category }}</td>
                            <td>{{ expense }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>Suma wydatków</td>
                            <td>{{ sumOfExpenses }} zł</td>
                        </tr>
                    </tfoot>
                </table>
                <div id="expensesPieChart" class="w-100 mb-3"></div>
            </div>
            <div style="background-color:#EDDFD5">
                <h4 class="text-center mt-3">Lista wydatków</h4>
                <div class="container-fluid d-xl-flex my-auto">
                    <table class="table table-striped table-hover me-3 " id="listExpenseTable">
                        <thead class="">
                            <tr>
                                <th>Data</th>
                                <th>Kategoria</th>
                                <th>Przychód</th>
                                <th>Komentarz</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="listOfExpenses">
                            {% for expense in expenseList %}
                            <tr>
                                <td> {{ expense.dateOfExpense }}</td>
                                <td>{{ expense.name }}</td>
                                <td>{{ expense.amount }}</td>
                                <td> {{ expense.expenseComment }} </td>
                                <td class="d-flex justify-content-end"><a class="mx-1 btn btn-outline-dark">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                            <path
                                                d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
                                        </svg></a>
                                    <a href="/balance/{{ expense.id }}/delete-expense" class="btn btn-outline-dark">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                            <path
                                                d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% else %}
            <h3 class="text-center my-3">Brak wydatków</h3>
            {% endif %}
        </div>
    </div>
</main>

{% endblock %}