{% extends "base.html" %}

{% block title %}Bilans{% endblock %}

{% block footer %}
<script>
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();
    if (dd < 10) {
        dd = '0' + dd
    }
    if (mm < 10) {
        mm = '0' + mm
    }
    today = yyyy + '-' + mm + '-' + dd;
    document.getElementById("beginingDate").setAttribute("max", today);
    document.getElementById("endingDate").setAttribute("max", today);
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
{% endblock %}
{% block body %}

<main class="mx-5">
    <div class="mt-5 mx-lg-auto mx-sm-5% d-md-flex justify-content-between">
        <div class="mb-2 tableBackground rounded">
            <form class="p-2 mx-auto" action="/balance/index" id="balance" name="choosingPeriod" method="POST"
                novalidate>
                <div class="mb-3 col-12 mx-auto">
                    <label class="d-flex justify-content-center mb-1" for="period">Wybierz
                        okres:</label>
                    <select class="form-select" name="period" id="period">
                        <option value="currentMonth">Bieżący miesiąc</option>
                        <option value="previousMonth">Poprzedni miesiąc</option>
                        <option value="currentYear">Bieżący rok</option>
                        <option value="other" id="customPeriod">Niestandardowy</option>
                    </select>
                    <div id="customDateInput">
                        <div class="d-flex my-3">
                            <label for="date">Od: </label>
                            <input type="date" class="form-control" min="1900-01-01" name="beginingDate"
                                id="beginingDate" required>
                        </div>
                        <div class="d-flex">
                            <label for="date">Do: </label>
                            <input type="date" class="form-control" min="1900-01-01" name="endingDate" id="endingDate"
                                required>
                        </div>
                    </div>
                </div>
                <div class="d-grid gap-2 w-50 mx-auto">
                    <button class="btn btn-outline-light myButton" type="submit">Wybierz</button>
                </div>
            </form>
        </div>
        <div>
            <h1 class="display-3">Przeglądaj bilans</h1>
        </div>
        <div class="col-1"></div>

    </div>
    <div class="d-lg-flex justify-content-lg-evenly">
        <div class="mb-5 tableBackground h-100 " style="width:33%">
            <h3 class="text-center">Przychody</h3>
            <div class="container-fluid d-xl-flex my-auto">
                <table class="table table-light me-3">
                    <thead class="">
                        <tr>
                            <th>Kategoria</th>
                            <th>Przychód w kategorii</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for category, income in incomes %}
                        <tr>
                            <td>{{ category }}</td>
                            <td>{{ income }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>Suma przychodów</td>
                            <td>{{ sumOfIncomes }}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="mt-lg-0 mt-sm-5 rounded tableBackground h-100" style="width:33%">
            <h3 class="text-center">Wydatki</h3>
            <div class="container-fluid d-xl-flex my-auto">
                <table class="table table-light me-3">
                    <thead class="">
                        <tr>
                            <th>Kategoria</th>
                            <th>Wydatki w kategorii</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for category, expense in expenses %}
                        <tr>
                            <td>{{ category }}</td>
                            <td>{{ expense }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>Suma wydatków</td>
                            <td>{{ sumOfExpenses }}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</main>

{% endblock %}