{% extends "base.html" %}

{% block title %}Edytuj katerogie{% endblock %}

{% block footer %}
<script>
    function checkCheckbox() {
        $("#limitCheckbox").click(function () {
            if ($(this).is(":checked")) {
                $('#limitAmount').prop('disabled', false);
            } else {
                $('#limitAmount').prop('disabled', true);
            }
        })
    }
    $("a").click(function () {
        var categoryId = $(this).attr("data-id");
        var categoryName = $(this).attr("data-name");
        var expenseLimit = $(this).attr("data-limit");
        var category = $(this).attr("value");
        if (category == 'expenses') {
            $('#limitValue').css('display', 'block');
            if (expenseLimit != 0) {
                $('#limitCheckbox').prop('checked', true);
                $('#limitAmount').prop('disabled', false);
                $('#limitAmount').val(parseInt(expenseLimit));
            } else {
                $('#limitCheckbox').prop('checked', false);
                $('#limitAmount').prop('disabled', true);
                $('#limitAmount').val("");
            }
            checkCheckbox();
        } else {
            $('#limitValue').css('display', 'none');
        }
        $('#nameInput').val(categoryName);
        $('#categoryId').val(parseInt(categoryId));
        $('#categoryGroup').val(category);
    });
</script>
{% endblock %}

{% block modal %}
<div class="modal fade" style="z-index: 1500;" id="editCategoryModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 400px">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEditTitle">Edytuj kategorię</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="editCategoryForm" action="/settings/update-categories" method="POST">
                <div class="modal-body">
                    <div hidden>
                        <input type="text" id="categoryId" name="id" value="">
                        <input type="text" id="categoryGroup" name="categoryGroup" value="">
                    </div>
                    <div>
                        <label for="nameInput" class="form-label">Nazwa kategorii</label>
                        <input type="text" class="form-control " name="categoryName" id="nameInput" required>
                    </div>
                    <div class="mt-3" style='display: none' id="limitValue">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="limitCheckbox">
                            <label class="form-check-label" for="flexCheckDefault">
                                Włącz limit wydatków
                            </label>
                        </div>
                        <div>
                            <input type="number" class="form-control" placeholder="Wpisz kwotę limitu..."
                                id="limitAmount" name="limitAmount" min="0.01" step="0.01" disabled>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-outline-light myButton" value="Wybierz okres">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block body %}

<main class="mx-5">
    <div>
        <h1 class="display-3 my-3 d-flex justify-content-center text-center">Edytuj kategorie</h1>
    </div>

    <div class="d-lg-flex justify-content-lg-evenly">
        <div class="mt-lg-0 mt-sm-5 rounded tableBackground h-100 col-lg-3 ">
            <h3 class="text-center mt-3">Przychody</h3>
            <div class="container-fluid d-xl-flex my-auto">
                <table class="table table-striped table-hover me-3 " style="background-color:#EDDFD5">
                    <thead class="">
                        <tr>
                            <th>Nazwa kategorii</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for income in incomeCategories %}
                        <tr>
                            <td> {{ income.name }} </td>
                            <td class="d-flex justify-content-end">
                                <a class="mx-1 btn btn-outline-dark" type="button" data-bs-toggle="modal"
                                    data-bs-target="#editCategoryModal" data-id="{{ income.id }}"
                                    data-name="{{ income.name }}" value="incomes">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-pen" viewBox="0 0 16 16">
                                        <path
                                            d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
                                    </svg></a>
                                <a href="" class="btn btn-outline-dark">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-trash3" viewBox="0 0 16 16">
                                        <path
                                            d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                    </svg>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>
        <div class="mt-lg-0 mt-sm-5 rounded tableBackground h-100 col-lg-3">
            <h3 class="text-center mt-3">Wydatki</h3>
            <div class="container-fluid d-xl-flex my-auto">
                <table class="table table-striped table-hover me-3" style="background-color:#EDDFD5">
                    <thead class="">
                        <tr>
                            <th>Lista kategorii</th>
                            <th>Limit</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for expense in expenseCategories %}
                        <tr>
                            <td> {{ expense.name }} </td>
                            {% if expense.categoryLimit == 0 %}
                            <td>-</td>
                            {% else %}
                            <td> {{ expense.categoryLimit }} </td>
                            {% endif %}
                            <td class="d-flex justify-content-end">
                                <a class="mx-1 btn btn-outline-dark" type="button" data-bs-toggle="modal"
                                    data-bs-target="#editCategoryModal" data-id="{{ expense.id }}"
                                    data-name="{{ expense.name }}" data-limit="{{ expense.categoryLimit }} "
                                    value="expenses">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-pen" viewBox="0 0 16 16">
                                        <path
                                            d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
                                    </svg></a>
                                <a href="" class="btn btn-outline-dark">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-trash3" viewBox="0 0 16 16">
                                        <path
                                            d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                    </svg>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="mt-lg-0 mt-sm-5 rounded tableBackground h-100 col-lg-3">
            <h3 class="text-center mt-3">Płatność</h3>
            <div class="container-fluid d-xl-flex my-auto">
                <table class="table table-striped table-hover me-3" style="background-color:#EDDFD5">
                    <thead class="">
                        <tr>
                            <th>Lista kategorii</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for payment in paymentCategories %}
                        <tr>
                            <td> {{ payment.name }} </td>
                            <td class="d-flex justify-content-end">
                                <a class="mx-1 btn btn-outline-dark" type="button" data-bs-toggle="modal"
                                    data-bs-target="#editCategoryModal" data-id="{{ payment.id }}"
                                    data-name="{{ payment.name }}" value="payments">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-pen" viewBox="0 0 16 16">
                                        <path
                                            d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
                                    </svg></a>
                                <a href="" class="btn btn-outline-dark">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-trash3" viewBox="0 0 16 16">
                                        <path
                                            d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                    </svg>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

{% endblock %}