{% extends "base.html" %}

{% block title %}Ustawienia{% endblock %}

{% block body %}
<div class="container">
    <div class="d-flex justify-content-center m-3">
        <h1 class="display-3">Ustawienia</h1>
    </div>
    <div class="mb-5">
        <h4>Profil</h4>
        <a href="/settings/edit-profile">
            <div class="btn btn-outline-light secondNavColors" style="width:250px">
                <h4 class="m-3">Edytuj profil</h4>
            </div>
        </a>
    </div>
    <div>
        <h4>Kategorie</h4>
        <a href="/settings/add-category">
            <div class="btn btn-outline-light secondNavColors" style="width:250px">
                <h4 class="m-3">Dodaj kategorię</h4>
            </div>
        </a>
        <a href="">
            <div class="btn btn-outline-light secondNavColors" style="width:250px">
                <h4 class="m-3">Zmień kategorie</h4>
            </div>
        </a>
    </div>
</div>
{% endblock %}