{% extends "base.html" %}

{% block title %}Logowanie{% endblock %}

{% block footer %}
<script>
    $(document).ready(function () {
        $("#loginForm").validate({
            errorClass: 'errors',
            rules: {
                email: {
                    required: true,
                    email: true,
                    remote: '/account/check-email'
                },
                password: {
                    required: true,
                    minlength: 8
                }
            },
            messages: {
                email: {
                    required: 'Podaj adres email.',
                    email: 'Podaj poprawny adres email.',
                    remote: 'Nie istnieje konto z podanym adresem email.'
                },
                password: {
                    required: 'Podaj hasło.',
                    minlength: 'Hasło musi zawierać conajmniej 8 znaków.'
                }
            }
        });
    });
</script>
{% endblock %}

{% block body %}

<main>
    <p></p>
    <div>
        <h1 class="display-2 mt-5 d-flex justify-content-center">Budżet domowy</h1>
    </div>
    <div class="container mt-5 text-light  mx-md-auto mx-sm-5%">
        <form class="p-4 mx-auto rounded-3 formBackground col-lg-4 col-md-6" action="/Login/create" id="loginForm"
            method="post">
            <div class="mb-4">
                <h2 class="text-center display-5">Logowanie</h2>
            </div>
            <div class="mb-3">
                <label for="emailInput">Adres e-mail</label>
                <input type="email" name="email" class="form-control" id="emailInput" placeholder=" "
                    value="{{ email }}" autofocus required>
            </div>
            <div class="mb-3">
                <label for="passwordInput">Hasło</label>
                <input type="password" name="password" class="form-control" autofocus id="passwordInput" placeholder=" "
                    required>
            </div>
            <div class="d-grid gap-2  mx-auto">
                <button class="btn btn-outline-light w-50 mx-auto ">Zaloguj</button>
                <label class="mx-auto"><input type="checkbox" name="remember_me" class="form-check-input me-2">
                    Zapamiętaj mnie</label>
                <p class="d-flex justify-content-center mt-3 mb-0">Nie masz konta?</p>
                <a href="/sign-up/index" class="btn btn-outline-light  w-50 mx-auto">Zarejestruj się</a>
            </div>
        </form>
    </div>
</main>
{% endblock %}