{% extends "base.html" %}

{% block title %}Dodaj przychód{% endblock %}

{% block footer %}
<script>
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();
    if (dd < 10) {
        dd = '0' + dd
    }
    if (mm < 10) {
        mm = '0' + mm
    }
    today = yyyy + '-' + mm + '-' + dd;
    document.getElementById("datefield").setAttribute("max", today);
</script>
{% endblock %}

{% block body %}

<main class="mx-5">
    <div>
        <h1 class="display-3 mt-3 d-flex justify-content-center text-center">Dodaj przychód</h1>
    </div>
    <div class="container mt-5 text-light  mx-lg-auto mx-sm-5%">
        <form class="p-4 mx-auto rounded-3 col-xl-4 col-lg-6 col-md-9 formBackground" action="/AddIncome/create"
            id="incomeForm" method="POST">
            <div class="mb-3 text-light mx-5">
                <label for="amount">Kwota (podaj z kropką):</label>
                <input type="number" step=0.01 min=0 class="form-control" placeholder="Wpisz kwotę..." id="incomeAmount"
                    name="amount" required>
            </div>
            <div class="mb-3 text-light mx-5">
                <label for="date">Data:</label>
                <input id="datefield" name="date" type='date' min='2000-01-01' max='2000-12-13' class='form-control'
                    required></input>
            </div>
            <div class="mb-3 text-light col-9 mx-5">
                <label for="category">Kategoria:</label>
                <select class="form-select" name="category" id="category" required>
                    <option value="">Wybierz kategorię</option>
                    {% for category in categories %}
                    <option value="{{ category.id }}" name="{{ category.name }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3 text-light col-9 mx-5">
                <label class="form-label" for="comment">Komentarz (opcjonalnie):</label>
                <div><textarea class="form-control" name="comment" id="comment" rows="2"
                        placeholder="Max. 250 znaków..." maxlength="250"></textarea>
                </div>
            </div>
            <div class="d-grid gap-2 w-50 mx-auto">
                <button class="btn btn-outline-light" name="buttonSubmit" type="submit">Dodaj</button>
                <button class="btn btn-outline-light" type="reset">Anuluj</button>
            </div>
        </form>
    </div>
</main>

{% endblock %}