{% extends "base.html" %}

{% block title %}Dodaj wydatek{% endblock %}

{% block footer %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/testy.js"></script>
<script>
    let currentDate = new Date().toJSON().slice(0, 10);
    document.querySelector("#datefield").value = currentDate;
</script>
<script>
    $(document).ready(function () {
        $("#expenseForm").validate({
            errorClass: 'errors',
            rules: {
                amount: {
                    required: true,
                    min: 0,
                    step: 0.01,
                    max: 2147483646,
                    number: true
                },
                date: {
                    required: true,
                    min: '2000-01-01'
                },
                category: 'required',
                paymentMethod: 'required',
                comment: {
                    maxlength: 250
                }
            },
            messages: {
                amount: {
                    required: 'Podaj kwotę.',
                    min: 'Kwota musi być większa niż 0.',
                    step: 'Podaj kwotę do dwóch miejsc po przecinku',
                    max: 'Kwota nie może być większa od 2147483646.',
                    number: 'Wprowadź liczbę.'
                },
                date: {
                    required: 'Podaj datę.',
                    min: 'Data nie może być wcześniejsza niż 01-01-2000',
                    max: 'Data nie może być przyszła'
                },
                category: 'Wybierz kategorię wydatku.',
                paymentMethod: 'Wybierz kategorię metody płatności',
                comment: {
                    maxlength: 'Komentarz nie może mieć więcej niż 250 znaków.'
                }

            }
        });
    });
</script>
{% endblock %}

{% block body %}

<main class="mx-5">
    <div>
        <h1 class="display-3 mt-3 d-flex justify-content-center text-center">Dodaj wydatek</h1>
    </div>
    <div class="container mt-3 text-light  mx-lg-auto mx-sm-5%">
        <div id="limitContainer"
            class="d-none justify-content-between p-2 mx-auto mb-2 border border-success rounded bg-success bg-opacity-20 col-xl-6 col-lg-6 col-md-9">
            <div class="d-inline">
                <b class="d-block">Limit</b>
                <p class="mb-0 mt-1" id="categoryLimit"></p>
            </div>
            <div class="d-inline">
                <b class="d-block">Dotychczas wydano</b>
                <p class="mb-0 mt-1" id="alreadyExpense"></p>
            </div>
            <div class="d-inline">
                <b class="d-block">Bilans</b>
                <p class="mb-0 mt-1" id="limitBalance"></p>
            </div>
            <div class="d-inline">
                <b class="d-block">Bilans po dodaniu wydatku</b>
                <p class="mb-0 mt-1" id="newLimitBalance"></p>
            </div>

        </div>
        <div class="mx-auto col-lg-4 col-md-6" style="color: #17694b">
            {% if expense.errors is not empty %}
            <p>Błędy:</p>
            <ul>
                {% for error in expense.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <form class="p-4 mx-auto rounded-3 col-xl-4 col-lg-6 col-md-9 formBackground" action="/AddExpense/create"
            id="expenseForm" method="POST">
            <div class="mb-3 text-light mx-5">
                <label for="amount">Kwota (podaj z kropką):</label>
                <input type="number" class="form-control" placeholder="Wpisz kwotę..." id="amount" name="amount"
                    min="0.01" step="0.01">
            </div>
            <div class="mb-3 text-light mx-5">
                <label for="date">Data:</label>
                <input class='form-control' id="datefield" name="date" type='date' min="2000-01-01"
                    max="{{ todayDate }}">
            </div>
            <div class="mb-3 text-light col-9 mx-5">
                <label for="paymentMethod">Sposób płatności:</label>
                <select class="form-select" name="paymentMethod" id="paymentMethod">
                    <option value="">Wybierz metodę płatności</option>
                    {% for category in paymentCategories %}
                    <option value="{{ category.id }}" name="{{ category.name }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3 text-light col-9 mx-5">
                <label for="category">Kategoria:</label>
                <select class="form-select" name="category" id="category">
                    <option value="">Wybierz kategorię</option>
                    {% for category in expenseCategories %}
                    <option value="{{ category.id }}" name="{{ category.name }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3 text-light col-9 mx-5">
                <label class="form-label" for="comment">Komentarz (opcjonalnie):</label>
                <div><textarea class="form-control" name="comment" id="comment" rows="2"
                        placeholder="Max. 250 znaków..." style="resize: none" maxlength="250"></textarea>
                </div>
            </div>
            <div class="d-grid gap-2 w-50 mx-auto">
                <button class="btn btn-outline-light" type="submit">Dodaj</button>
                <a class="btn btn-outline-light" href="/main-menu/index">Anuluj</a>
            </div>
        </form>
    </div>
</main>


{% endblock %}